.__contenedor {
    margin-top: 100px;
}

.__contenedorLanding {
    margin-top: 100px;
    text-align: center;
    position: relative;
}

.__elementosLanding {
    position: fixed;
    top: 290px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.__logo {
    width: 140px;
    height: 140px;
    top: 120px;
    background-color: white;
    border-radius: 80px;
    padding: 1px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0, 0.50);
}

.__title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 5px;
    padding: 8px;
}

.__textoLanding {
    font-size: 20px;
    font-weight: bold;
}

.__imgBackgroundHome {
    width: 100%;
    height: 100%;
}

.__contenedorFavButtons {
    position: fixed;
    flex-direction: column;
    height: 50px;
    width: 25px;
    right: 38px;
    bottom:60px;
    margin:0;
    padding:0;
}

.__fav__button {
    width: 17px;
    height: 17px;
    border-radius: 25px;
    background-color: #ffffff;
    padding: 10px;
    margin: 3px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0, 0.50);
}

.__fav__button:hover {
    cursor: pointer;
}